html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(9 9 9);
  font-family: 'FuturaLightC', Arial, sans-serif;
  color: white;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 1200px;
  margin: auto;
}

@font-face {
  font-family: 'FuturaLightC';
  src: url('FuturaLightC.eot');
  src: local('Futura Light Cyrillic'), local('FuturaLightC'),
    url('FuturaLightC.eot?#iefix') format('embedded-opentype'),
    url('FuturaLightC.woff') format('woff'),
    url('FuturaLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

header {
  width: 100%;
  height: 880px;
}

a {
  color: white;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

a:hover {
  color: grey;
  transition: all .5s ease-in-out;
}

h1 {
  margin: 0;
  font-size: 40px;
  line-height: 1.55;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 50px;
  word-break: break-word;
}

h2 {
  font-weight: 700;
  font-size: 18px;
  word-break: break-word;
}

h3 {
  font-weight: 100;
  word-break: break-word;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: inherit;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 0px 60px 0px 0px;
}

.menu-opacity{
  display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0 0 0);
    opacity: .6;
    z-index: 98;
}

.menu{
  display: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  background: black;
  padding: 5px 20px 40px 40px;
  position: absolute;
  height: -webkit-fill-available;
  z-index: 99;
  top:0;
  right: -100%;
  transition: all .5s ease-in-out;
}

.menu.active{
  overflow: hidden;
  display: flex;
  top:0;
  right: 0;
  transition: all .5s ease-in-out;
}


#menu-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  justify-content: space-between;
}

#menu-wrap ul{
  width: 220px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#menu-wrap ul li{
  padding: 10px 0;
}

.close-cross__wrap{
  display: flex;
  width: -webkit-fill-available;
  justify-content: flex-end;
}

.close-cross{
  font-size: 25px;
  cursor: pointer;
}

.menu img{
  width: 40px;
  height: 40px;
}

header nav img{
  display: none;
}

header nav {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 300;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 60px 0 0 60px;
  position: relative;
  top: 0;
  left: 0;
  flex-wrap: wrap;
}



.logo {
  font-weight: 700;
  padding-left: -20px;
  font-size: 16px;
  line-height: 1.55;
  color: white;
  text-transform: uppercase;
}

#header_background {
  background-image: url(.//image/photo1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  position: absolute;
  top: 0px;
  left: calc(50% - 600px + -120px);
  width: 680px;
  height: 880px;
  transition: all .5s ease-in-out;
}

#main_caption {
  color: white;
  font-size: 81px;
  line-height: 1.55;
  font-weight: 100;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 230px;
  left: calc(50% - 600px + 565px);
}

#main_caption>div {
  margin-bottom: 20px;
}

#intensiv_caption {
  text-transform: uppercase;
}

#second_caption {
  font-size: 20px;
  font-weight: 100;
}

#date_caption {
  margin-top: 60px;
  font-size: 18px;
  font-weight: 300;
}

.buy_button {
  color: white;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  height: 60px;
  width: fit-content;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 100px auto 0 auto;
  padding: 0 140px;
}

.buy_button:hover {
  background-color: white;
  transition: all 0.2s ease-in-out;
  color: black;
}



#level {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px 15% 60px;
  justify-content: space-around;
  transition: all .5s ease-in-out;
}

.feature {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 0 10px;
}

.feature img {
  width: 50px;
  height: 50px;
  margin: auto;
}

.feature-caption {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
  font-weight: 700;
}

.feature-line {
  width: 100%;
  height: 0.5px;
  background: white;
  border-radius: 3px;
  margin-top: 30px;
}

.feature-level {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}


#about-intensiv {
  padding: 0 50px;
}

.about-intensiv__wrap {
  display: flex;
  flex-direction: row;
}

.about-intensiv__wrap img {
  padding: 0 30px 50px 0;
  max-width: 550px;
  min-width: 100px;
  height: 100%;
}



#subscription {
  width: 450px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  border-left: 1px solid white;
}

.part {
  padding-bottom: 40px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
}


#video-review {
  text-align: center;
}

#result {
  text-align: center;
  padding: 0 40px;
}

#part-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 170px;
  gap: 30px;
}

.part-result {
  text-align: left;
  border-bottom: 1px solid white;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  padding-bottom: 10px;
  margin: 0 10px;
}


#treners {
  text-align: center;
  padding: 0 50px;
}

#treners h1{
  text-align: center;
}

#treners-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 850px;
}

#treners-wrap :nth-child(2)>* {
  position: relative;
  top: 200px;
}

.treners-info img {
  min-width: 50px;
  max-width: 500px;
  width: 100%;
  padding-bottom: 20px;
}


#program {
  padding: 0 40px;
}

.program-part h1 {
  font-size: 30px;
  padding: 40px 0 15px 0;
}

.program-info,
.instruction-info {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  padding-bottom: 60px;
  border-bottom: 1px solid white;
}



#reviews {
  padding: 200px 0 50px 0;
}

#reviews h1 {
  text-align: center;
}

#reviews-wrap {
  flex-wrap: wrap;
  gap: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.review-info_wrap {
  padding-left: 30px;
}

.review-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  max-width: 300px;
  padding-bottom: 20px;
}

.review-author {
  font-weight: 700;
}

.review-photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}



#instruction {
  padding: 60px 40px 120px 40px;
}

#instruction h1 {
  text-align: left;
}

.instruction-wrap__main {
  display: flex;
  flex-direction: row;
}

.instruction-part {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid white;
  padding-top: 30px;
}

.instruction-part img {
  align-self: flex-start;
  width: 60px;
  height: auto;
}


.instruction-info {
  border: none;
  padding-bottom: 30px;
}

.instruction-wrap {
  padding-left: 30px;
}

.instruction-part h1 {
  font-size: 30px;
  padding: 0px 0 15px 0;
}

#instruction-photo {
  max-width: 600px;
  min-width: 100px;
  height: fit-content;
  padding-left: 40px;
  padding-top: 40px;
}

#price {
  text-align: center;
  padding:0 0 200px 0;
}

#price h1 {
  padding: 0;
}

.price-info {
  font-size: 18px;
  line-height: 2;
}

#price img {
  width: 100%;
  max-width: 580px;
  min-width: 100px;
  padding: 50px 0;
}

#cost {
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 30px;
}

#currency-cost {
  padding-bottom: 30px;
}

.registration_button {
  color: black;
  background-color: white;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  height: 60px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0px 180px;
  margin: 50px auto 0;
}

.registration_button:hover {
  background-color: white;
  transition: all 0.2s ease-in-out;
  color: black;
}

#registration_button_wrap {
  border-top: 1px solid white;
  width: fit-content;
  margin: auto;
}

#email-notification {
  padding-top: 20px;
}


#faq {
  padding: 0 40px 120px;
}

.faq-section {
  padding: 20px 0;
  border-top: 0.25px solid white;
  border-bottom: 0.25px solid white;
  transform-origin: 50% 0;
}

.faq-question__wrap h1 {
  font-size: 24px;
  padding: 10px 0;
}

.faq-question__wrap {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
}

.cross {
  font-size: 18px;
  font-weight: 100;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  transition: all .2s ease-in-out;
  cursor: pointer;
  flex-shrink: 0;
}

.cross.active {
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.faq-question__wrap:hover .cross {
  transition: all .2s ease-in-out;
  background-color: white;
  color: black;
}

.faq_answer {
  padding-bottom: 20px;
  display: none;
  transform-origin: top center;
}



#final {
  border-bottom: 1px solid white;
}

#final-wrap {
  background-image: url(.//image/footer.webp);
  background-size: 100%, 350px, contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.date {
  font-size: 22px;
}


footer {
  padding: 10%;
}

#first-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

#first-wrap ul {
  flex-wrap: wrap;
  justify-content: flex-end;
}

#first-wrap li {
  padding: 10px 30px;
  white-space: nowrap;
}

#first-wrap li:last-child {
  padding-right: 0;
}


#second-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding-top: 100px;
}

#second-wrap ul {
  display: flex;
  flex-direction: column;
}

#second-wrap li {
  padding: 0;
  padding-top: 10px;
  text-align: right;
}




@media screen and (min-width: 1199px) {


  #main_caption {
    color: white;
    font-size: 81px;
    line-height: 1.55;
    font-weight: 100;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 237px;
    left: calc(50% - 600px + 565px);
  }

}




@media screen and (max-width: 1199px) {


  header {
    height: 800px;
  }

  #header_background {
    position: absolute;
    top: 0px;
    left: calc(50% - 480px + -100px);
    width: 570px;
    height: 790px;
    transition: all .5s ease-in-out;
  }

  #main_caption {
    color: white;
    font-size: 90px;
    line-height: 1.55;
    font-weight: 100;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
  }

  .part{
    font-size: 16px;
  }

  .program-part h1{
    font-size: 24px;
  }

  .program-info,
.instruction-info {
  font-size: 16px;
}

.instruction-wrap__main h1{
  font-size: 20px;
}

#treners h1{
  text-align: center;
}

#treners h2, #treners h3{
  font-size: 16px;
}

#final{
  padding: 0 50px;
}
}



@media screen and (max-width: 959px) {

  header {
    height: 580px;
  }

  #header_background {
    position: absolute;
    top: 0px;
    left: calc(50% - 320px + -90px);
    width: 410px;
    height: 580px;
    transition: all .5s ease-in-out;
  }

  #main_caption {
    color: white;
    font-size: 75px;
    line-height: 1.55;
    font-weight: 100;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
  }

  #date_caption {
    font-size: 16px;
  }

  header nav ul {
    display: none;
  }

  header nav img{
    display: block;
    cursor: pointer;
  }

  header nav {
    padding: 60px 12% 0 12%;
    width: -webkit-fill-available;
}

  .about-intensiv__wrap{
    flex-direction: column;
    transition: all .5s ease-in-out;
  }

  #about-intensiv{
    padding: 0 150px;
  }

  #subscription{
    border: none;
    width: 100%;
  }

  .about-intensiv__wrap img {
    padding: 0 0 50px 0;
    max-width: 900px;
    min-width: 100px;
    height: 100%;
  }

  .part{
    padding-left: 0;
  }

  #level {
    justify-content: space-between;
    padding: 100px 15% 60px;
  }

  .feature img{
    width: 40px;
    height: 40px;
  }

  .feature {
    width: 140px;
}

  #part-wrap{
    flex-direction: column;
  }

  .part-result{
    padding-bottom: 30px;
    font-size: 16px;
  }

  #result{
    padding: 0 10%;
  }

  #treners{
    padding: 0 18%;
  }

  #treners h1{
    text-align: left;
  }

  #treners-wrap :nth-child(2)>* {
    position: relative;
    top: 300px;
}

  #program{
  padding: 0 18%;
  margin-bottom: -90px;
}

.review-text{
  font-size: 16px;
}

.instruction-wrap__main{
  flex-direction: column-reverse;
}

#instruction{
  padding: 60px 18% 120px 18%;
}

#instruction-photo {
  padding: 0 0 20px 0;
}

#price img {
  padding: 100px 0 50px 0;
}

#email-notification {
  font-size: 14px;
}

#faq{
  padding: 0 18% 100px;
}

.faq-question__wrap h1{
  font-size: 22px;
  font-weight: 300;
}

.buy_button {
  padding: 0.5% 15%;
}

#final{
  padding: 0 18%;
}

#final-wrap{
  padding: 50px;
  height: auto;
}
}




@media screen and (max-width: 959px) and (min-width: 639px) {
  #main_caption {
    color: white;
    font-size: 75px;
    line-height: 1.55;
    font-weight: 100;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 180px;
    left: calc(50% - 600px + 500px);
  }

  #main_caption>div {
    margin-bottom: 0px;
  }

}




@media screen and (max-width: 639px) {

  header {
    height: 780px;
  }

  #header_background {
    position: initial;
    width: 100%;
    height: 780px;
    transition: all .5s ease-in-out;
  }

  #main_caption {
    color: white;
    font-size: 75px;
    line-height: 1.55;
    font-weight: 100;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #main_caption>div {
    margin-bottom: 0px;
  }

  #second_caption {
    font-size: 34px;
    width: 400px;
  }

  header nav {
    position: absolute;
    padding: 40px 12% 40px 12%;
}
  #level {
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    padding: 100px 0 60px 0;
    transition: all .5s ease-in-out;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  #first-wrap{
    flex-direction: column;
  }

  #first-wrap ul {
    flex-direction: column;
    justify-content: flex-start;
  }

  #first-wrap li{
    padding: 10px 0;
  }

  #second-wrap {
    flex-direction: column;
    align-items: flex-start;
}

.footer-social{
  padding-bottom: 20px;
}

#second-wrap ul {
  align-items: flex-start;
}

#first-wrap .logo{
  padding-bottom: 20px;
}

.buy_button {
  color: white;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  height: 60px;
  width: fit-content;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 100px auto 0 auto;
  padding: 20px 140px;
}

#about-intensiv {
  padding: 0 10%;
}

#video-review{
  padding: 0 10%;
}

#treners {
  padding: 0 10% 80px 10%;
  height: auto;
}

#treners h1 {
  text-align: center;
}

#treners-wrap{
  flex-direction: column;
  height: auto;
  gap: 50px;
}

#treners-wrap :nth-child(1){
  order: 1;
  position: initial;
  top: 0;
}

#treners-wrap :nth-child(2){
  order: 0;
  position: initial;
  top: 0;
}

#treners-wrap :nth-child(3) {
  order: 2;
  position: initial;
  top: 0;
}

h1{
  font-size: 36px;
}

.program-part h1 {
  font-size: 22px;
}

#program{
  padding: 0 10%;
}

.review{
  flex-direction: column;
}

.review-info_wrap{
  padding: 10px 0 10px 0;
  text-align: center;
}

.review-text {
  max-width: 500px;
  min-width: 100px;
}

#instruction {
  padding: 60px 10% 120px 10%;
}

#price{
  padding: 0 10% 200px 10%;
}

#registration_button_wrap{
  width: auto;
}

#faq {
  padding: 0 10% 100px;
}

.buy_button {
  padding: 0.5% 15%;
}

#final{
  padding: 0 10%;
}

}

@media screen and (min-width: 479px) {
  iframe{
    padding: 50px 0;
  }
}


@media screen and (max-width: 479px) {

  header{
    height: 600px;
  }

  #header_background {
    position: initial;
    width: 100%;
    height: 605px;
    transition: all .5s ease-in-out;
  }

  #main_caption{
    top: 230px;
  }

  #intensiv_caption {
    font-size: 46px;
  }

  #main_caption>div {
    margin-bottom: 0px;
  }

  #second_caption {
    font-size: 20px;
    width: 60%;
  }

  #date_caption {
    margin-bottom: 20px;
  }

  section h1, #treners h1 {
    text-align: left;
  }

  #price h1{
    text-align: center;
}

.registration_button{
  padding: 0;
}

}